In [1]:
#Contoh sederhana pembuatan list pada pemograman python

list1 = ['Jeruk', 'Mangga', 34, 56]
list2 = [11,22,33,44,55]
list3= ['a3', 'a2', True, False]

print(list1)
print(list2)
print(list3)

['Jeruk', 'Mangga', 34, 56]
[11, 22, 33, 44, 55]
['a3', 'a2', True, False]

In [2]:
datalist=["saya",1, False, True, 4.67]
x=[datalist]*5
print(x)

[['saya', 1, False, True, 4.67], ['saya', 1, False, True, 4.67], ['saya', 1, False, True, 4.67], ['saya', 1, False, True, 4.67], ['saya', 1, False, True, 4.67]]

In [3]:
#menambahkan data --> append
data = ["saya", 1, False, False, 4.65]
print(f'Kondisi Awal = {data}')
data.append('Suka PY')
print(f'Kondisi Akhir = {data}')

Kondisi Awal = ['saya', 1, False, False, 4.65]
Kondisi Akhir = ['saya', 1, False, False, 4.65, 'Suka PY']

In [4]:
#Cara mengakses nilai di dalam list Python
list1 = ["Jeruk", 'mangga', 34, 54]
list2 = [11,22,33,44,55]
list3= ['a3', 'a2', True, False]

print(f'list1[0] : {list1[0]}')
print(f'list2[1:3] : {list2[1:3]}')

list1[0] : Jeruk
list2[1:3] : [22, 33]

In [5]:
#Contoh cara menghapus nilai pada list python
#menggunakan del
list = ['Jeruk', 'Mangga', 43, 54]

print(f'Kondisi Awal : {list}')
del list[2]
print(f'Kondisi Akhir : {list}')

Kondisi Awal : ['Jeruk', 'Mangga', 43, 54]
Kondisi Akhir : ['Jeruk', 'Mangga', 54]

In [6]:
#Contoh cara menghapus nilai pada list python
#menggunakan pop()-> menghapus index yg sesuai
list = ['Jeruk', 'Mangga', 43, 54]

print(f'Kondisi Awal : {list}')
list.pop(1)
print(f'Kondisi Akhir : {list}')

Kondisi Awal : ['Jeruk', 'Mangga', 43, 54]
Kondisi Akhir : ['Jeruk', 43, 54]

In [7]:
#Contoh cara menghapus nilai pada list python
#menggunakan remove() -> menghapus nilai yg sesuai
list = ['Jeruk', 'Mangga', 43, 54]

print(f'Kondisi Awal : {list}')
list.remove('Jeruk')
print(f'Kondisi Akhir : {list}')

Kondisi Awal : ['Jeruk', 'Mangga', 43, 54]
Kondisi Akhir : ['Mangga', 43, 54]

In [10]:
#perbedaan pop dan remove
#pop

data = []
a = int(input("Masukkan jumlah data : "))

for i in range(a):
    inp = int(input('Masukkan Data : '))
    data.append(inp)

print(data)

print('Berikut adalah proses penghapusan data')
for i in range (a):
    data.pop(0)
    print(f'Data yang hilang : {data}')
    if data == []:
        print('Tidak ada data yang bisa di hapus lagi karena kosong')

[3, 6, 5, 1]
Berikut adalah proses penghapusan data
Data yang hilang : [6, 5, 1]
Data yang hilang : [5, 1]
Data yang hilang : [1]
Data yang hilang : []
Tidak ada data yang bisa di hapus lagi karena kosong

In [11]:
#perbedaan pop dan remove
#del

data = []
a = int(input("Masukkan jumlah data : "))

for i in range(a):
    inp = int(input('Masukkan Data : '))
    data.append(inp)

print(data)

print('Berikut adalah proses penghapusan data')
for i in range (a):
    del data[0]
    print(f'Data yang hilang : {data}')
    if data == []:
        print('Tidak ada data yang bisa di hapus lagi karena kosong')

[5, 7, 9, 3]
Berikut adalah proses penghapusan data
Data yang hilang : [7, 9, 3]
Data yang hilang : [9, 3]
Data yang hilang : [3]
Data yang hilang : []
Tidak ada data yang bisa di hapus lagi karena kosong

In [21]:
# List makanan dengan 2 dimensi
list_makan = [
["Siomay", "Bakso", "Mie Tiaw"],
["Pizza", "Spaghetti", "Dimsum"],
["Tempe", "Tahu", "Korket"]
]
# Cara mengakses list multidimensi
# misalkan kita ingin mengambil "tahu"
print (list_makan[2][1])
print(list_makan[1])

Tahu
['Pizza', 'Spaghetti', 'Dimsum']

In [22]:
# List makanan dengan 2 dimensi
list_makan = [
["Siomay", "Bakso", "Mie Tiaw"],
["Pizza", "Spaghetti", "Dimsum"],
["Tempe", "Tahu", "Korket"]
]
# Cara menampilkan seluruh list multidimensi

for i in list_makan:
    for j in i:
        print(j)

Siomay
Bakso
Mie Tiaw
Pizza
Spaghetti
Dimsum
Tempe
Tahu
Korket

In [2]:
#append 
list = [1, 2, 3, 4, 5]
print(list)
list.append(6)
print(list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

In [6]:
#insert

list = [1,2,3,4,6]
print(list)
list.insert(4,5)
print(list)

[1, 2, 3, 4, 6]
[1, 2, 3, 4, 5, 6]

In [23]:
# Operasi pop

list = [1, 2, 3, 4, 5]
print(list)
list.pop(2)
list.pop()
print(list)

[1, 2, 3, 4, 5]
[1, 2, 4]

In [11]:
# Operasi sort

list = [2, 3, 4, 6, 4, 1]
print(list)
list.sort()
print(list)

[2, 3, 4, 6, 4, 1]
[1, 2, 3, 4, 4, 6]

In [12]:
# Operasi reverse

list = [1, 2, 3, 4, 5, True]
print(list)
list.reverse()
print(list)

[1, 2, 3, 4, 5, True]
[True, 5, 4, 3, 2, 1]

In [25]:
#del 
list1 = [1,2,3,4]
print(list1)
del list
print(list1)

[1, 2, 3, 4]

NameError: name 'list' is not defined

In [36]:
#Count

list1 = [1, 2, 3, 4, 5]
print(list1)
list1.count(2)
print(list1)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [18]:
# Operasi remove

list = [1, 2, 3, 4, 5]
print(list)
list.remove(5)
print(list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4]

In [3]:
data = []
for i in range (1,11):
    data.append(i)

for j in data:
    print(f'{j} x {j} = {j*j}')

1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

In [9]:
import random

data = []
for i in range (200):
    angka = random.randint(1,100)
    data.append(angka)
print(data)

data_maks = data[0]
jml_dataMaks = 0
for j in data:
    if j > data_maks:
        data_maks = j
        jml_dataMaks = 1
    elif j == data_maks:
        jml_dataMaks +=1
print (f'Nilai terbesar adalah {data_maks}')
print(f'Jumlah mahasiswa yang mendapatkan nilai {data_maks} adalah {jml_dataMaks} Orang')

data_map = []
for i in range(len(data)):
    if data[i] == data_maks:
        data_map.append(i)
print(f'yaitu pada posisi index ke- {data_map}')

[62, 100, 76, 70, 9, 27, 59, 19, 17, 93, 6, 59, 31, 9, 19, 23, 43, 13, 52, 26, 93, 97, 32, 85, 45, 100, 24, 22, 73, 37, 29, 68, 8, 83, 22, 86, 49, 10, 42, 87, 28, 75, 70, 70, 45, 30, 85, 25, 44, 44, 12, 22, 90, 36, 35, 49, 20, 9, 77, 33, 77, 52, 61, 100, 3, 32, 25, 96, 71, 79, 55, 41, 32, 27, 17, 53, 23, 34, 14, 65, 69, 100, 14, 75, 72, 67, 79, 80, 67, 25, 14, 81, 78, 8, 13, 12, 68, 38, 97, 93, 97, 11, 88, 98, 82, 68, 72, 9, 91, 33, 45, 23, 76, 73, 80, 12, 2, 29, 40, 11, 87, 93, 27, 4, 5, 89, 6, 70, 73, 16, 83, 47, 43, 58, 82, 15, 76, 55, 16, 76, 57, 89, 5, 72, 2, 74, 18, 65, 62, 86, 50, 28, 40, 1, 27, 37, 63, 88, 78, 77, 52, 4, 62, 30, 4, 45, 26, 69, 53, 43, 81, 4, 42, 8, 93, 4, 10, 67, 65, 1, 32, 58, 36, 87, 72, 34, 8, 11, 36, 60, 65, 5, 73, 34, 87, 97, 76, 100, 90, 9]
Nilai terbesar adalah 100
Jumlah mahasiswa yang mendapatkan nilai 100 adalah 5 Orang
yaitu pada posisi index ke- [1, 25, 63, 81, 197]

In [2]:
data_mahasiswa = []
lagi = 'y'
jumlah = 0
while lagi == 'y' :
    for i in range(len(data_mahasiswa)):
        data_mahasiswa.pop(0)

    nama_mahasiswa = input('Masukkan nama mahasiswa : ')
    data_mahasiswa.append(nama_mahasiswa)

    mata_kuliah = input('Masukkan nama matakuliah : ')
    data_mahasiswa.append(mata_kuliah)

    nilai_tugas = int(input('Masukkan nilai tugas mahasiswa : '))
    data_mahasiswa.append(nilai_tugas)

    nilai_uts = int(input('Masukkan nilai UTS Mahasiswa : '))
    data_mahasiswa.append(nilai_uts)

    nilai_uas = int(input('Masukkan nilai UAS Mahasiswa : '))
    data_mahasiswa.append(nilai_uas)

    nilai_akhir = (nilai_tugas * 0.3) + (nilai_uts * 0.3) + (nilai_uas * 0.4)
    data_mahasiswa.append(nilai_akhir)

    if nilai_akhir >= 80 :
        grade = 'A'
    elif nilai_akhir >= 70:
        grade = 'B'
    elif nilai_akhir>=60:
        grade = 'C'
    elif nilai_akhir >=50:
        grade = 'D'
    else : 
        grade = 'E'
    data_mahasiswa.append(grade)

    print('-----------------------------------------')
    print(f'data mahasiswa ke- {jumlah+1} ')
    print(data_mahasiswa)
    print(f'Nama mahasiswa \t: {data_mahasiswa[0]}')
    print(f'Nama mata kuliah \t:  {data_mahasiswa[1]}')
    print(f'Nilai Tugas mata kuliah {mata_kuliah} \t: {data_mahasiswa[2]}')
    print(f'Nilai UTS mata kuliah {mata_kuliah} \t: {data_mahasiswa[3]}')
    print(f'Nilai UAS mata kuliah {mata_kuliah} \t: {data_mahasiswa[4]}')
    print(f'Nilai Akhir mata kuliah {mata_kuliah} \t: {data_mahasiswa[5]}')
    print(f'Grade \t: {data_mahasiswa[6]}')
    jumlah += 1
    lagi = input('Apakah masih ingin menginput data mahasiswa? y/n')
    if lagi != 'y' :
        break
print('-----------------------------------------------------')
print('Terima Kasih')

-----------------------------------------
data mahasiswa ke- 1
['Rafli Pratama', 'PTSI', 90, 89, 95, 91.7, 'A']
Nama mahasiswa 	: Rafli Pratama
Nama mata kuliah 	:  PTSI
Nilai Tugas mata kuliah PTSI 	: 90
Nilai UTS mata kuliah PTSI 	: 89
Nilai UAS mata kuliah PTSI 	: 95
Nilai Akhir mata kuliah PTSI 	: 91.7
Grade 	: A
-----------------------------------------
data mahasiswa ke- 2
['Atha', 'PTSI', 87, 90, 89, 88.69999999999999, 'A']
Nama mahasiswa 	: Atha
Nama mata kuliah 	:  PTSI
Nilai Tugas mata kuliah PTSI 	: 87
Nilai UTS mata kuliah PTSI 	: 90
Nilai UAS mata kuliah PTSI 	: 89
Nilai Akhir mata kuliah PTSI 	: 88.69999999999999
Grade 	: A
-----------------------------------------------------
Terima Kasih